html{
    scroll-behavior: smooth;
  }
  
@keyframes slideUp{
    0%{
    transform: translateY(30px);
        opacity: 0;
        }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
        
}

@keyframes slideInRight{
    0%{
    transform: translateX(30px);
        opacity: 0;
        }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
        
}

@keyframes slideInLeft{
    0%{
    transform: translateX(-30px);
        opacity: 0;
        }
    100%{
        transform: translatex(0px);
        opacity: 1;
    }
        
}

.slideUp{
    animation: slideUp 0.8s 1 0.6s cubic-bezier(0.1, 0.49, 0.2, 0.93) forwards;
     -webkit-animation: slideUp 0.8s 1 0.6s cubic-bezier(0.1, 0.49, 0.2, 0.93) forwards;
}

.slideInRight{
    animation: slideInRight 0.8s 1 0.6s cubic-bezier(0.1, 0.49, 0.2, 0.93) forwards;
     -webkit-animation: slideInRight 0.8s 1 0.6s cubic-bezier(0.1, 0.49, 0.2, 0.93) forwards;
}

.slideInLeft{
    animation: slideInLeft 0.8s 1 0.6s cubic-bezier(0.1, 0.49, 0.2, 0.93) forwards;
     -webkit-animation: slideInLeft 0.8s 1 0.6s cubic-bezier(0.1, 0.49, 0.2, 0.93) forwards;
}

.hide-slideUp, .hide-slideInLeft, .hide-slideInRight{
    opacity: 0;
}


.zoom-leave-active,
.zoom-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.zoom-enter,
.zoom-leave-to {
  transform: scale(0.98, 0.98);
  opacity: 0;
}

.swipe-enter-active,.swipe-leave-active{
    transition: transform 0.4s cubic-bezier(0.1, 0.49, 0.2, 0.93), opacity 0.4s cubic-bezier(0.1, 0.49, 0.2, 0.93);
    -webkit-transition: transform 0.4s cubic-bezier(0.1, 0.49, 0.2, 0.93), opacity 0.4s cubic-bezier(0.1, 0.49, 0.2, 0.93);
}
.swipe-enter{
    transform: translateX(-10px);
    -webkit-transform: scale(-10px);
    opacity: 0;
}
.swipe-leave-to{ 
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    opacity: 0;
}